@media screen and (min-width: 640px) {
    #discoverItems div {
        grid-template-areas:
        "title title"
        "image description"
        "image address"
        "button button";
    }

    #discoverItems div img {
        width: 300px;
        transition: box-shadow 0.25s;
    }

    #discoverItems div img:hover {
        box-shadow: 9px 9px 21px rgba(0, 0, 0, 0.3);
    }
}